USE [CafeDB]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CheckStock]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_CheckStock] (@Menu_ID INT)
RETURNS BIT
AS
BEGIN
    DECLARE @Result BIT = 1

    IF EXISTS (
        SELECT 1
        FROM RECIPE R
        JOIN INGREDIENT I ON R.Ingredient_ID = I.Ingredient_ID
        WHERE R.Menu_ID = @Menu_ID
        AND I.Current_Stock < R.Quantity_Used
    )
    SET @Result = 0

    RETURN @Result
END;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetCustomerTotal]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_GetCustomerTotal] (@Customer_ID INT)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @Total DECIMAL(10,2)

    SELECT @Total = ISNULL(SUM(Total_Price), 0)
    FROM [ORDER]
    WHERE Customer_ID = @Customer_ID
    AND Status = 'done'

    RETURN @Total
END;
GO
/****** Object:  Table [dbo].[CUSTOMER]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUSTOMER](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](100) NOT NULL,
	[Last_Name] [nvarchar](100) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](150) NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[Employee_ID] [int] IDENTITY(1,1) NOT NULL,
	[First_Name] [nvarchar](100) NOT NULL,
	[Last_Name] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Hire_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Employee_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Employee_ID] [int] NOT NULL,
	[Order_Date] [datetime] NULL,
	[Status] [varchar](20) NULL,
	[Total_Price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OrderSummary]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OrderSummary] AS
SELECT
    O.Order_ID,
    C.First_Name + N' ' + C.Last_Name AS Customer_Name,
    E.First_Name + N' ' + E.Last_Name AS Employee_Name,
    O.Order_Date,
    O.Status,
    O.Total_Price
FROM [ORDER] O
JOIN CUSTOMER C ON O.Customer_ID = C.Customer_ID
JOIN EMPLOYEE E ON O.Employee_ID = E.Employee_ID;
GO
/****** Object:  Table [dbo].[MENU_ITEM]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_ITEM](
	[Menu_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Price] [decimal](8, 2) NOT NULL,
	[Is_Available] [bit] NULL,
	[Image] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Menu_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[Ingredient_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Unit] [nvarchar](30) NULL,
	[Current_Stock] [decimal](10, 2) NULL,
	[Min_Stock] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Ingredient_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECIPE]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE](
	[Recipe_ID] [int] IDENTITY(1,1) NOT NULL,
	[Menu_ID] [int] NOT NULL,
	[Ingredient_ID] [int] NOT NULL,
	[Quantity_Used] [decimal](10, 2) NOT NULL,
	[Unit] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Recipe_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MenuIngredients]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_MenuIngredients] AS
SELECT
    M.Menu_ID,
    M.Name AS Menu_Name,
    M.Category,
    M.Price,
    I.Name AS Ingredient_Name,
    R.Quantity_Used,
    R.Unit
FROM MENU_ITEM M
JOIN RECIPE R ON M.Menu_ID = R.Menu_ID
JOIN INGREDIENT I ON R.Ingredient_ID = I.Ingredient_ID;
GO
/****** Object:  View [dbo].[vw_LowStock]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_LowStock] AS
SELECT
    Ingredient_ID,
    Name AS Ingredient_Name,
    Unit,
    Current_Stock,
    Min_Stock
FROM INGREDIENT
WHERE Current_Stock <= Min_Stock;
GO
/****** Object:  Table [dbo].[auth_group]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_group_permissions]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_group_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[group_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_permission]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_permission](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[content_type_id] [int] NOT NULL,
	[codename] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[password] [nvarchar](128) NOT NULL,
	[last_login] [datetimeoffset](7) NULL,
	[is_superuser] [bit] NOT NULL,
	[username] [nvarchar](150) NOT NULL,
	[first_name] [nvarchar](150) NOT NULL,
	[last_name] [nvarchar](150) NOT NULL,
	[email] [nvarchar](254) NOT NULL,
	[is_staff] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[date_joined] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_groups]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_groups](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[group_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[auth_user_user_permissions]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[auth_user_user_permissions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[permission_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_admin_log]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_admin_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[action_time] [datetimeoffset](7) NOT NULL,
	[object_id] [nvarchar](max) NULL,
	[object_repr] [nvarchar](200) NOT NULL,
	[action_flag] [smallint] NOT NULL,
	[change_message] [nvarchar](max) NOT NULL,
	[content_type_id] [int] NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_content_type]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_content_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[app_label] [nvarchar](100) NOT NULL,
	[model] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_migrations]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_migrations](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[app] [nvarchar](255) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[applied] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[django_session]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[django_session](
	[session_key] [nvarchar](40) NOT NULL,
	[session_data] [nvarchar](max) NOT NULL,
	[expire_date] [datetimeoffset](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[session_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOYALTY_POINT]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOYALTY_POINT](
	[Point_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Points] [int] NULL,
	[Total_Spent] [decimal](10, 2) NULL,
	[Updated_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Point_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDER_ITEM]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDER_ITEM](
	[OrderItem_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Menu_ID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Sweetness] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderItem_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROMOTION]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROMOTION](
	[Promotion_ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Discount_Type] [nvarchar](20) NOT NULL,
	[Discount_Value] [decimal](10, 2) NOT NULL,
	[Start_Date] [date] NOT NULL,
	[End_Date] [date] NOT NULL,
	[Is_Active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Promotion_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUEUE]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUEUE](
	[Queue_ID] [int] IDENTITY(1,1) NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Queue_Number] [int] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[Created_At] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Queue_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[Stock_ID] [int] IDENTITY(1,1) NOT NULL,
	[Ingredient_ID] [int] NOT NULL,
	[Transaction_Date] [datetime] NULL,
	[Transaction_Type] [varchar](10) NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Stock_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[auth_permission] ON 

INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (1, N'Can add log entry', 1, N'add_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (2, N'Can change log entry', 1, N'change_logentry')
INSERT [dbo].[auth_permission] ([id], [name], [content_type_id], [codename]) VALUES (3, N'Can delete log entry', 1, N'delete_logentry')
SET IDENTITY_INSERT [dbo].[auth_permission] OFF
GO
SET IDENTITY_INSERT [dbo].[auth_user] ON 

INSERT [dbo].[auth_user] ([id], [password], [last_login], [is_superuser], [username], [first_name], [last_name], [email], [is_staff], [is_active], [date_joined]) VALUES (1, N'pbkdf2_sha256$1200000$UeGRU5uW74pO6mRRMe86FW$iYTwdz3R7tqrlgh4woOW1Vbn2rT753tZATHA1NFW2TI=', CAST(N'2026-04-01T13:04:17.5336980+00:00' AS DateTimeOffset), 1, N'admin', N'', N'', N'', 1, 1, CAST(N'2026-03-31T05:26:16.0310860+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[auth_user] OFF
GO
SET IDENTITY_INSERT [dbo].[CUSTOMER] ON 

INSERT [dbo].[CUSTOMER] ([Customer_ID], [First_Name], [Last_Name], [Phone], [Email], [Created_At]) VALUES (1, N'สมชาย', N'ใจดี', N'0812345678', N'somchai@email.com', CAST(N'2026-03-27T11:23:49.950' AS DateTime))
INSERT [dbo].[CUSTOMER] ([Customer_ID], [First_Name], [Last_Name], [Phone], [Email], [Created_At]) VALUES (2, N'สมหญิง', N'รักเรียน', N'0823456789', N'somying@email.com', CAST(N'2026-03-27T11:23:49.950' AS DateTime))
INSERT [dbo].[CUSTOMER] ([Customer_ID], [First_Name], [Last_Name], [Phone], [Email], [Created_At]) VALUES (3, N'วิชัย', N'มีสุข', N'0834567890', N'wichai@email.com', CAST(N'2026-03-27T11:23:49.950' AS DateTime))
SET IDENTITY_INSERT [dbo].[CUSTOMER] OFF
GO
SET IDENTITY_INSERT [dbo].[django_content_type] ON 

INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (1, N'admin', N'logentry')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (2, N'auth', N'group')
INSERT [dbo].[django_content_type] ([id], [app_label], [model]) VALUES (3, N'auth', N'permission')
SET IDENTITY_INSERT [dbo].[django_content_type] OFF
GO
SET IDENTITY_INSERT [dbo].[django_migrations] ON 

INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (1, N'contenttypes', N'0001_initial', CAST(N'2026-03-31T01:58:02.3672920+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (2, N'auth', N'0001_initial', CAST(N'2026-03-31T01:58:02.3994470+00:00' AS DateTimeOffset))
INSERT [dbo].[django_migrations] ([id], [app], [name], [applied]) VALUES (3, N'admin', N'0001_initial', CAST(N'2026-03-31T01:58:02.4089290+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[django_migrations] OFF
GO
INSERT [dbo].[django_session] ([session_key], [session_data], [expire_date]) VALUES (N'f1sxfumr8q6qhp6uyr218bgliprddwln', N'.eJxVzLsOgjAUBuBXMWc2TVtabqOTi5s76eVUUGkJbSfjuwsJibB-_-UDJscURpy7wULL6vMfvBoRWrjmdLoHl2EXTWHwKUJLdxYn9GkhsmCncuq7HLdbYHAwrcwL_RrYp_KPQEzwaR40WStkSyO5BYvvy9Y9HPQq9staisJR5KqSylAtqXQWeYW1UI41yLXAkhalwxp1UTeLypJLK1zlnDSWCfj-ALOWVeY:1w7vF3:BFjCaTjC9Hhn2nxG-wKibe9pXik_-6jJlwjqreDk3uo', CAST(N'2026-04-15T13:04:17.5358270+00:00' AS DateTimeOffset))
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([Employee_ID], [First_Name], [Last_Name], [Position], [Phone], [Hire_Date]) VALUES (1, N'นภา', N'แสงทอง', N'Barista', N'0845678901', CAST(N'2026-03-27' AS Date))
INSERT [dbo].[EMPLOYEE] ([Employee_ID], [First_Name], [Last_Name], [Position], [Phone], [Hire_Date]) VALUES (2, N'ธนกร', N'พลอยดี', N'Cashier', N'0856789012', CAST(N'2026-03-27' AS Date))
INSERT [dbo].[EMPLOYEE] ([Employee_ID], [First_Name], [Last_Name], [Position], [Phone], [Hire_Date]) VALUES (3, N'มานี', N'สุขใจ', N'Manager', N'0867890123', CAST(N'2026-03-27' AS Date))
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
SET IDENTITY_INSERT [dbo].[INGREDIENT] ON 

INSERT [dbo].[INGREDIENT] ([Ingredient_ID], [Name], [Unit], [Current_Stock], [Min_Stock]) VALUES (1, N'เมล็ดกาแฟ', N'กรัม', CAST(4784.00 AS Decimal(10, 2)), CAST(500.00 AS Decimal(10, 2)))
INSERT [dbo].[INGREDIENT] ([Ingredient_ID], [Name], [Unit], [Current_Stock], [Min_Stock]) VALUES (2, N'นม', N'มล.', CAST(7090.00 AS Decimal(10, 2)), CAST(1000.00 AS Decimal(10, 2)))
INSERT [dbo].[INGREDIENT] ([Ingredient_ID], [Name], [Unit], [Current_Stock], [Min_Stock]) VALUES (3, N'น้ำตาล', N'กรัม', CAST(3000.00 AS Decimal(10, 2)), CAST(300.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[INGREDIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[LOYALTY_POINT] ON 

INSERT [dbo].[LOYALTY_POINT] ([Point_ID], [Customer_ID], [Points], [Total_Spent], [Updated_At]) VALUES (1, 18, 0, CAST(0.00 AS Decimal(10, 2)), CAST(N'2026-04-01T19:26:55.560' AS DateTime))
SET IDENTITY_INSERT [dbo].[LOYALTY_POINT] OFF
GO
SET IDENTITY_INSERT [dbo].[MENU_ITEM] ON 

INSERT [dbo].[MENU_ITEM] ([Menu_ID], [Name], [Category], [Price], [Is_Available], [Image]) VALUES (1, N'Americano', N'Coffee', CAST(60.00 AS Decimal(8, 2)), 1, NULL)
INSERT [dbo].[MENU_ITEM] ([Menu_ID], [Name], [Category], [Price], [Is_Available], [Image]) VALUES (2, N'Latte', N'Coffee', CAST(75.00 AS Decimal(8, 2)), 1, N'')
INSERT [dbo].[MENU_ITEM] ([Menu_ID], [Name], [Category], [Price], [Is_Available], [Image]) VALUES (3, N'Cappuccino', N'Coffee', CAST(75.00 AS Decimal(8, 2)), 1, NULL)
SET IDENTITY_INSERT [dbo].[MENU_ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER] ON 

INSERT [dbo].[ORDER] ([Order_ID], [Customer_ID], [Employee_ID], [Order_Date], [Status], [Total_Price]) VALUES (15, 14, 1, CAST(N'2026-03-31T21:10:32.287' AS DateTime), N'done', CAST(315.00 AS Decimal(10, 2)))
INSERT [dbo].[ORDER] ([Order_ID], [Customer_ID], [Employee_ID], [Order_Date], [Status], [Total_Price]) VALUES (16, 15, 1, CAST(N'2026-04-01T19:02:09.840' AS DateTime), N'pending', CAST(145.00 AS Decimal(10, 2)))
INSERT [dbo].[ORDER] ([Order_ID], [Customer_ID], [Employee_ID], [Order_Date], [Status], [Total_Price]) VALUES (17, 16, 1, CAST(N'2026-04-01T19:05:34.707' AS DateTime), N'pending', CAST(145.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[ORDER] OFF
GO
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] ON 

INSERT [dbo].[ORDER_ITEM] ([OrderItem_ID], [Order_ID], [Menu_ID], [Quantity], [Subtotal], [Sweetness]) VALUES (29, 15, 3, 1, CAST(75.00 AS Decimal(10, 2)), 100)
INSERT [dbo].[ORDER_ITEM] ([OrderItem_ID], [Order_ID], [Menu_ID], [Quantity], [Subtotal], [Sweetness]) VALUES (30, 15, 6, 1, CAST(85.00 AS Decimal(10, 2)), 100)
INSERT [dbo].[ORDER_ITEM] ([OrderItem_ID], [Order_ID], [Menu_ID], [Quantity], [Subtotal], [Sweetness]) VALUES (31, 15, 7, 1, CAST(80.00 AS Decimal(10, 2)), 100)
SET IDENTITY_INSERT [dbo].[ORDER_ITEM] OFF
GO
SET IDENTITY_INSERT [dbo].[QUEUE] ON 

INSERT [dbo].[QUEUE] ([Queue_ID], [Order_ID], [Queue_Number], [Status], [Created_At]) VALUES (10, 15, 1, N'done', CAST(N'2026-03-31T21:10:32.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[QUEUE] OFF
GO
SET IDENTITY_INSERT [dbo].[RECIPE] ON 

INSERT [dbo].[RECIPE] ([Recipe_ID], [Menu_ID], [Ingredient_ID], [Quantity_Used], [Unit]) VALUES (1, 1, 1, CAST(18.00 AS Decimal(10, 2)), N'กรัม')
INSERT [dbo].[RECIPE] ([Recipe_ID], [Menu_ID], [Ingredient_ID], [Quantity_Used], [Unit]) VALUES (2, 2, 1, CAST(18.00 AS Decimal(10, 2)), N'กรัม')
INSERT [dbo].[RECIPE] ([Recipe_ID], [Menu_ID], [Ingredient_ID], [Quantity_Used], [Unit]) VALUES (3, 2, 2, CAST(150.00 AS Decimal(10, 2)), N'มล.')
SET IDENTITY_INSERT [dbo].[RECIPE] OFF
GO
SET IDENTITY_INSERT [dbo].[STOCK] ON 

INSERT [dbo].[STOCK] ([Stock_ID], [Ingredient_ID], [Transaction_Date], [Transaction_Type], [Quantity], [Note]) VALUES (1, 1, CAST(N'2026-03-27T11:23:49.953' AS DateTime), N'IN', CAST(5000.00 AS Decimal(10, 2)), N'รับของเข้าครั้งแรก')
INSERT [dbo].[STOCK] ([Stock_ID], [Ingredient_ID], [Transaction_Date], [Transaction_Type], [Quantity], [Note]) VALUES (2, 2, CAST(N'2026-03-27T11:23:49.953' AS DateTime), N'IN', CAST(10000.00 AS Decimal(10, 2)), N'รับของเข้าครั้งแรก')
INSERT [dbo].[STOCK] ([Stock_ID], [Ingredient_ID], [Transaction_Date], [Transaction_Type], [Quantity], [Note]) VALUES (3, 3, CAST(N'2026-03-27T11:23:49.953' AS DateTime), N'IN', CAST(3000.00 AS Decimal(10, 2)), N'รับของเข้าครั้งแรก')
SET IDENTITY_INSERT [dbo].[STOCK] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_group_name_a6ea08ec_uniq]    Script Date: 4/2/2026 7:28:03 AM ******/
ALTER TABLE [dbo].[auth_group] ADD  CONSTRAINT [auth_group_name_a6ea08ec_uniq] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [auth_user_username_6821ab7c_uniq]    Script Date: 4/2/2026 7:28:03 AM ******/
ALTER TABLE [dbo].[auth_user] ADD  CONSTRAINT [auth_user_username_6821ab7c_uniq] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CUSTOMER] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[EMPLOYEE] ADD  DEFAULT (getdate()) FOR [Hire_Date]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((0)) FOR [Current_Stock]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((0)) FOR [Min_Stock]
GO
ALTER TABLE [dbo].[LOYALTY_POINT] ADD  DEFAULT ((0)) FOR [Points]
GO
ALTER TABLE [dbo].[LOYALTY_POINT] ADD  DEFAULT ((0)) FOR [Total_Spent]
GO
ALTER TABLE [dbo].[LOYALTY_POINT] ADD  DEFAULT (getdate()) FOR [Updated_At]
GO
ALTER TABLE [dbo].[MENU_ITEM] ADD  DEFAULT ((1)) FOR [Is_Available]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT (getdate()) FOR [Order_Date]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT ('pending') FOR [Status]
GO
ALTER TABLE [dbo].[ORDER] ADD  DEFAULT ((0)) FOR [Total_Price]
GO
ALTER TABLE [dbo].[ORDER_ITEM] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[ORDER_ITEM] ADD  DEFAULT ((100)) FOR [Sweetness]
GO
ALTER TABLE [dbo].[PROMOTION] ADD  DEFAULT ((1)) FOR [Is_Active]
GO
ALTER TABLE [dbo].[QUEUE] ADD  DEFAULT (N'waiting') FOR [Status]
GO
ALTER TABLE [dbo].[QUEUE] ADD  DEFAULT (getdate()) FOR [Created_At]
GO
ALTER TABLE [dbo].[STOCK] ADD  DEFAULT (getdate()) FOR [Transaction_Date]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_group_id_b120cbf9_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_group_permissions]  WITH CHECK ADD  CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_group_permissions] CHECK CONSTRAINT [auth_group_permissions_permission_id_84c5c92e_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_permission]  WITH CHECK ADD  CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[auth_permission] CHECK CONSTRAINT [auth_permission_content_type_id_2f476e4b_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[auth_group] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_group_id_97559544_fk_auth_group_id]
GO
ALTER TABLE [dbo].[auth_user_groups]  WITH CHECK ADD  CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_groups] CHECK CONSTRAINT [auth_user_groups_user_id_6a12ed8b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id] FOREIGN KEY([permission_id])
REFERENCES [dbo].[auth_permission] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_permission_id_1fbb5f2c_fk_auth_permission_id]
GO
ALTER TABLE [dbo].[auth_user_user_permissions]  WITH CHECK ADD  CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[auth_user_user_permissions] CHECK CONSTRAINT [auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id] FOREIGN KEY([content_type_id])
REFERENCES [dbo].[django_content_type] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_content_type_id_c4bce8eb_fk_django_content_type_id]
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id] FOREIGN KEY([user_id])
REFERENCES [dbo].[auth_user] ([id])
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_user_id_c564eba6_fk_auth_user_id]
GO
ALTER TABLE [dbo].[LOYALTY_POINT]  WITH CHECK ADD FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[CUSTOMER] ([Customer_ID])
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[CUSTOMER] ([Customer_ID])
GO
ALTER TABLE [dbo].[ORDER]  WITH CHECK ADD FOREIGN KEY([Employee_ID])
REFERENCES [dbo].[EMPLOYEE] ([Employee_ID])
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD FOREIGN KEY([Menu_ID])
REFERENCES [dbo].[MENU_ITEM] ([Menu_ID])
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[ORDER] ([Order_ID])
GO
ALTER TABLE [dbo].[QUEUE]  WITH CHECK ADD FOREIGN KEY([Order_ID])
REFERENCES [dbo].[ORDER] ([Order_ID])
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD FOREIGN KEY([Ingredient_ID])
REFERENCES [dbo].[INGREDIENT] ([Ingredient_ID])
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD FOREIGN KEY([Menu_ID])
REFERENCES [dbo].[MENU_ITEM] ([Menu_ID])
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD FOREIGN KEY([Ingredient_ID])
REFERENCES [dbo].[INGREDIENT] ([Ingredient_ID])
GO
ALTER TABLE [dbo].[django_admin_log]  WITH CHECK ADD  CONSTRAINT [django_admin_log_action_flag_a8637d59_check] CHECK  (([action_flag]>=(0)))
GO
ALTER TABLE [dbo].[django_admin_log] CHECK CONSTRAINT [django_admin_log_action_flag_a8637d59_check]
GO
ALTER TABLE [dbo].[INGREDIENT]  WITH CHECK ADD  CONSTRAINT [chk_CurrentStock] CHECK  (([Current_Stock]>=(0)))
GO
ALTER TABLE [dbo].[INGREDIENT] CHECK CONSTRAINT [chk_CurrentStock]
GO
ALTER TABLE [dbo].[INGREDIENT]  WITH CHECK ADD  CONSTRAINT [chk_MinStock] CHECK  (([Min_Stock]>=(0)))
GO
ALTER TABLE [dbo].[INGREDIENT] CHECK CONSTRAINT [chk_MinStock]
GO
ALTER TABLE [dbo].[LOYALTY_POINT]  WITH CHECK ADD  CONSTRAINT [chk_Points] CHECK  (([Points]>=(0)))
GO
ALTER TABLE [dbo].[LOYALTY_POINT] CHECK CONSTRAINT [chk_Points]
GO
ALTER TABLE [dbo].[MENU_ITEM]  WITH CHECK ADD  CONSTRAINT [chk_Price] CHECK  (([Price]>(0)))
GO
ALTER TABLE [dbo].[MENU_ITEM] CHECK CONSTRAINT [chk_Price]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [chk_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [chk_Quantity]
GO
ALTER TABLE [dbo].[ORDER_ITEM]  WITH CHECK ADD  CONSTRAINT [chk_Sweetness] CHECK  (([Sweetness]>=(0) AND [Sweetness]<=(100)))
GO
ALTER TABLE [dbo].[ORDER_ITEM] CHECK CONSTRAINT [chk_Sweetness]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [chk_StockQty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [chk_StockQty]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddStock]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_AddStock]
    @Ingredient_ID INT,
    @Quantity DECIMAL(10,2),
    @Note NVARCHAR(255)
AS
BEGIN
    UPDATE INGREDIENT
    SET Current_Stock = Current_Stock + @Quantity
    WHERE Ingredient_ID = @Ingredient_ID;

    INSERT INTO STOCK (Ingredient_ID, Transaction_Type, Quantity, Note)
    VALUES (@Ingredient_ID, 'IN', @Quantity, @Note);
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateOrder]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateOrder]
    @Customer_ID INT,
    @Employee_ID INT
AS
BEGIN
    INSERT INTO [ORDER] (Customer_ID, Employee_ID, Status, Total_Price)
    VALUES (@Customer_ID, @Employee_ID, 'pending', 0);

    SELECT SCOPE_IDENTITY() AS New_Order_ID;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_DailySalesReport]    Script Date: 4/2/2026 7:28:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DailySalesReport]
    @Date DATE
AS
BEGIN
    SELECT 
        O.Order_ID,
        C.First_Name + N' ' + C.Last_Name AS Customer_Name,
        E.First_Name + N' ' + E.Last_Name AS Employee_Name,
        O.Order_Date,
        O.Status,
        O.Total_Price
    FROM [ORDER] O
    JOIN CUSTOMER C ON O.Customer_ID = C.Customer_ID
    JOIN EMPLOYEE E ON O.Employee_ID = E.Employee_ID
    WHERE CAST(O.Order_Date AS DATE) = @Date
    ORDER BY O.Order_Date;
END;
GO
